# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Directorios de Node
node_modules/
npm-debug.log
yarn-error.log

# Directorios de Go
/bin/
/pkg/
/vendor/

# Archivos compilados de Go
*.o
*.a
*.so
*.exe
*.test
*.out

# Archivos de configuración local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Directorio de salida de compilación
/dist
/build

# Directorios y archivos de IDE
.idea/
*.swp
*.swo
.vscode/
*.sublime-workspace

# Archivos de log
*.log
*.csv
*.dat
*.out
*.pid
*.seed
*.pid.lock

# Otros archivos y directorios a ignorar
.cache
.next
coverage/
*.tmp
*.temp
*.bak
*.backup