# Operating system files
.DS_Store
Thumbs.db

# Node directories
node_modules/
npm-debug.log
yarn-error.log

#Go directories
/bin/
/pkg/
/vendor/

# Go compiled files
*.o
*.a
*.so
*.exe
*.test
*.out

# Local configuration files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output directory
frontend/dist/
frontend/build

# IDE directories and files
.idea/
*.swp
*.swo
.vscode/
*.sublime-workspace

# Log files
*.log
*.csv
*.dat
*.out
*.pid
*.seed
*.pid.lock

# Other files and directories to ignore
.cache
.next
coverage/
*.tmp
*.temp
*.bak
*.backup
*.db