@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@layer utilities {
  .delay-500 {
    animation-delay: 0.5s;
  }
  .delay-1000 {
    animation-delay: 1s;
  }
}
::-webkit-scrollbar {
  width: 5px; /* Anchura de la barra de desplazamiento */
}

/* Personalizar el riel de la barra de desplazamiento (el track) */
::-webkit-scrollbar-track {
  background: #ffffff; /* Color de fondo */
}

/* Personalizar el manejo de la barra de desplazamiento (el thumb) */
::-webkit-scrollbar-thumb {
  background: #00A3FF; /* Color del thumb */
  border-radius: 20px;
}

/* Cambiar el color del thumb al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background: #555555; /* Color del thumb al hacer hover */
}
body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(148deg, rgba(196,202,221,1) 0%, rgba(255,255,255,1) 100%); */
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
html{
  font-family: "Poppins", sans-serif;
}

@keyframes Loading{
0%{
  opacity: 1;
  height: 1rem;

}
50%{
  opacity: 0;
  height: 3rem;
}
100%{
  opacity: 1;
  height: 1rem;
}
} 

.degradado{
  background: linear-gradient(140deg, rgba(255,153,0,1) 0%, rgba(59,0,255,1) 100%);
}

/* button:hover span {
  color: black;
  background: none;
} */



.bn5 {
  outline: none;
  color: #DEEFFF;
  -webkit-backdrop-filter: blur(10px) brightness(100%);
  backdrop-filter: brightness(100%) blur(2px);
  cursor: pointer;
  position: relative;
  z-index: 0;
  
  
}



.bn5:before {
  content: "";
  background: linear-gradient(45deg, #FF9900, #3B00FF, #FF9900, #3B00FF, #FF9900, #3B00FF);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  
}





.bn5:hover:before {
  opacity: 1;
  
}




.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;

  left: 0;
  top: 0;
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: brightness(100%);
  backdrop-filter: blur(20px);
  border-style: solid;
  
}

@keyframes moveCircle {
  0% {
    transform: translate(10px, 0);
    scale: 0.8
  }

  25% {
    transform: translate(0, 10px);
    
  }

  50% {
    transform: translate(-10px, 0);
    scale: 0.75
  }

  75% {
    transform: translate(0, -10px);
  }

  100% {
    transform: translate(10px, 0);
    scale: 0.8;
  }
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.moveCircle{
  animation: moveCircle 10s linear infinite;

}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Oculta las flechas para Firefox */
input[type="number"]::-moz-focus-inner {
  border: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: none; /* Resto de navegadores */
}